body {
    width: 100%;
    height: 100%;
    background: url('/image/wallhaven-2em38y.jpg') no-repeat center center;
    background-size: cover;
    background-attachment: fixed;
}
.container {
    margin-top: 60px;
  }
  .form-area {
    padding: 30px;
    margin: 0 auto;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 4px;
  }
  @media (min-width: 1024px) {
    .form-area {
      width: 40%;
    }
  }
  @media (min-width: 375px) and (max-width: 768px) {
    .form-area {
      width: 80%;
    }
  }
  @media (min-width: 768px) and (max-width: 1024px) {
    .form-area {
      width: 60%;
    }
  }
  @media (width: 768px) {
    .form-area {
      width: 60%;
    }
  }
  @media (max-width: 375px) {
    .form-area {
      width: 100%;
    }
  }

.my-label {
    color: #ffffff;
}