<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%=title %></title>
</head>
<body>
    <h2>Hello, World</h2>
    <img src="timg.jpg" alt="玫瑰" width="100" height="80">
    <form action="/reg" method="post">
        <input type="username" name="name"><br/>
        <input type="password" name="password"><br/>
        <br/>
        <input type="submit" value="登录">
    </form>
</body>
</html>